{% extends 'Admin/admin_nav.html.twig' %}

{% block content %}
    {# side_nav xs #}
    <div id="header" class="main-header">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-user"></i></button>
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <a class="navbar-brand" href="#">TCO {% block sitename %}{% endblock %}</a>
        </div>
        <div class="navbar-collapse collapse">
            <!--ul class="nav navbar-nav">
                <li class="active"><a href="/users/dashboard">Dashboard</a></li>
            </ul-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        
                        {{ app.user.username }}
                        
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-content">
                                <span>
                                    
                                    {% if app.user.firstName is not null  %}
                                        
                                        {{ app.user.firstName }} {{ app.user.lastName }}
                                        
                                    {% else %}
                                        
                                        {{ app.user.username }}
                                    
                                    {% endif %}
                                    
                                </span>
                                <p class="text-muted small">
                                    
                                    {{ app.user.email }}
                                    
                                </p>
                                <div class="divider"></div>
                                <p class="row">
                                    <span class="col-md-6">
                                        <a href="#" class="btn btn-tan btn-sm" data-toggle="modal" data-target="#update-profile">Update Profile</a>
                                    </span>
                                    <span class="col-md-6">
                                        <a href="{{ path('logout') }}" class="btn btn-tan btn-sm pull-right">Sign Out <i class="fa fa-sign-out"></i></a>
                                    </span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    

{#
<div class="modal fade" tabindex="-1" role="dialog" id="add-config">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add New Tier for TV380</h4>
            </div>
            <div class="modal-body">
                <div class="well well-sm clearfix">Compact Tract Loader <span class="pull-right"><strong>TV380</strong></span></div>
                <form>
                    <div class="row">
                        <div class="form-group col-sm-4 col-xs-7">
                            <label class="control-label">Tier</label>
                            <input type="text" class="form-control" id="inputTier" placeholder="Tier">
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Fuel usage (gal/hr)</label>
                            <input type="text" class="form-control" id="inputTier" placeholder="Fuel usage (gal/hr)">
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Fuel usage (l/hr)</label>
                            <input type="text" class="form-control" id="inputTier" placeholder="Fuel usage (l/hr)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3  col-xs-6">
                            <label class="control-label">ProCare?</label>
                            <div class="onoffswitch-yn">
                                <input type="checkbox" name="onoffswitch-yn" class="onoffswitch-yn-checkbox" id="myonoffswitch-yn">
                                <label class="onoffswitch-yn-label" for="myonoffswitch-yn">
                                    <span class="onoffswitch-yn-inner"></span>
                                    <span class="onoffswitch-yn-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-3 col-xs-6">
                            <label class="control-label">SCR?</label>
                            <div class="onoffswitch-yn">
                                <input type="checkbox" name="onoffswitch-yn" class="onoffswitch-yn-checkbox" id="myonoffswitch-yn2">
                                <label class="onoffswitch-yn-label" for="myonoffswitch-yn2">
                                    <span class="onoffswitch-yn-inner"></span>
                                    <span class="onoffswitch-yn-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-3 col-xs-6">
                            <label class="control-label">With Tires?</label>
                            <div class="onoffswitch-yn">
                                <input type="checkbox" name="onoffswitch-yn" class="onoffswitch-yn-checkbox" id="myonoffswitch-yn3">
                                <label class="onoffswitch-yn-label" for="myonoffswitch-yn3">
                                    <span class="onoffswitch-yn-inner"></span>
                                    <span class="onoffswitch-yn-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-3 col-xs-6">
                            <label class="control-label">With Tracks?</label>
                            <div class="onoffswitch-yn">
                                <input type="checkbox" name="onoffswitch-yn" class="onoffswitch-yn-checkbox" id="myonoffswitch-yn4">
                                <label class="onoffswitch-yn-label" for="myonoffswitch-yn4">
                                    <span class="onoffswitch-yn-inner"></span>
                                    <span class="onoffswitch-yn-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-tan">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="edit-config">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Tier[tier number] Configuration</h4>
            </div>
            <div class="modal-body">
                <div class="well well-sm clearfix">Compact Tract Loader <span class="pull-right"><strong>TV380</strong></span></div>
                <form>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label class="control-label">Fuel usage (gal/hr)</label>
                            <input type="text" class="form-control" id="inputTier" placeholder="Fuel usage (gal/hr)">
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Fuel usage (l/hr)</label>
                            <input type="text" class="form-control" id="inputTier" placeholder="Fuel usage (l/hr)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3  col-xs-6">
                            <label class="control-label">ProCare?</label>
                            <div class="onoffswitch-yn">
                                <input type="checkbox" name="onoffswitch-yn" class="onoffswitch-yn-checkbox" id="myonoffswitch-yn">
                                <label class="onoffswitch-yn-label" for="myonoffswitch-yn">
                                    <span class="onoffswitch-yn-inner"></span>
                                    <span class="onoffswitch-yn-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-3 col-xs-6">
                            <label class="control-label">SCR?</label>
                            <div class="onoffswitch-yn">
                                <input type="checkbox" name="onoffswitch-yn" class="onoffswitch-yn-checkbox" id="myonoffswitch-yn2">
                                <label class="onoffswitch-yn-label" for="myonoffswitch-yn2">
                                    <span class="onoffswitch-yn-inner"></span>
                                    <span class="onoffswitch-yn-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-3 col-xs-6">
                            <label class="control-label">With Tires?</label>
                            <div class="onoffswitch-yn">
                                <input type="checkbox" name="onoffswitch-yn" class="onoffswitch-yn-checkbox" id="myonoffswitch-yn3">
                                <label class="onoffswitch-yn-label" for="myonoffswitch-yn3">
                                    <span class="onoffswitch-yn-inner"></span>
                                    <span class="onoffswitch-yn-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-3 col-xs-6">
                            <label class="control-label">With Tracks?</label>
                            <div class="onoffswitch-yn">
                                <input type="checkbox" name="onoffswitch-yn" class="onoffswitch-yn-checkbox" id="myonoffswitch-yn4">
                                <label class="onoffswitch-yn-label" for="myonoffswitch-yn4">
                                    <span class="onoffswitch-yn-inner"></span>
                                    <span class="onoffswitch-yn-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-tan">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="update-profile">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Profile</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label class="control-label">Username</label>
                            <input type="text" class="form-control" id="" placeholder="Username">
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">First Name</label>
                            <input type="text" class="form-control" id="" placeholder="First Name">
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Last Name</label>
                            <input type="text" class="form-control" id="" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">Email</label>
                            <input type="text" class="form-control" id="" placeholder="Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>New Password</label>
                            <input class="form-control" type="password" placeholder="" value="password">
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Re-enter Password</label>
                            <div class="input-group">
                                <input class="form-control" type="password" placeholder="" disabled>
                                <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-tan ladda-button" data-style="expand-right">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->#}


{% block page %}{% endblock %}

{% endblock %}