{% set body_parameters = 'class="gray-bg"'%}
{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {% block fos_user_content %}
    <div class="container-flow fos">

        {# mobile view #}
        <div class="visible-xs">
            <div class="container">
                <div class="text-center fos-padding">
                    <div class="well fos-padding fos-xs-menu-margin">
                        <div class="row">
                            <ul class="list-inline no-margin">
                                <li>
                                    <div class="fos-link">
                                        Welcome {{ app.user.username }}
                                    </div>
                                </li>

                                <li>
                                    <div class="fos-link">
                                        <a href="{{ path('logout') }}">
                                            Logout <i class="fa fa-sign-out"></i>
                                        </a>
                                    </div>
                                </li>    
                            </ul>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# end mobile view #}
        
        {# tablet, desktop view #}
        <div class="hidden-xs">
            <div class="text-center pull-right fos-padding ">
                <div class="well fos-padding fos-sm-menu-margin-right">
                    <div class="row">
                        <ul class="list-inline no-margin">
                            <li>
                                <div class="fos-link">
                                    Welcome {{ app.user.username }}
                                </div>
                            </li>

                            <li>
                                <div class="fos-link">
                                    <a href="{{ path('logout') }}">
                                        Logout <i class="fa fa-sign-out"></i>
                                    </a>
                                </div>
                            </li>    
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        {# end tablet, desktop view #}
        
        {# form #}                           
        <div class="screen-center col-xs-10 col-sm-4 col-md-3 text-center">
                
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

            {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}

            <div>
                
                {% if is_granted('ROLE_ADMIN') %}
                
                <a href="{{ path('admin_test_page') }}">
                    <button class="btn btn-primary">
                        Go to admin area
                    </button>
                </a>
                
                {% elseif is_granted('ROLE_USER')%}
                
                <a href="{{ path('user_test_page') }}">
                    <button class="btn btn-primary">
                        Go to user area
                    </button>
                </a>
                    
                {% endif %}
                
            </div>
        </div>
        {# end form #}
        
        <div class="clearfix"></div>
    </div>
    {% endblock fos_user_content %}
{% endblock %}