            
                    {# CURRENCY(fuel/def) #}
                    <div class="col-md-4 fuel">

                        {{ form_start(formPrice, {'attr': {'id': 'task_price'}}) }}
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Fuel Price</strong>
                            </div>
                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-xs-3">
                                        </th>
                                        
                                        <th class="col-xs-3">
                                            gallon
                                        </th>
                                        
                                        <th class="col-xs-3">
                                            liter
                                        </th>
                                        
                                        <th class="col-xs-3 text-center">
                                            default
                                        </th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    
                                    {% for form in formPrice.forms %}
                                        
                                    <tr>
                                        <td>
                                            <div class="">
                                                <span>
                                                    <strong>${{ form.vars.data.currency }}</strong>
                                                </span>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="overlay-show input-fuel" ng-show="toggle_fuelPriceGallon_{{ form.vars.data.id }}">
                                                        <span class="">
                                                            <div class="row">
                                                                {{ form_row(form.fuelId.fuelPriceGallon) }}
                                                            </div>
                                                        </span>
                                                    </div>

                                                    <span class="text-input percentage only-text" ng-click="toggle_fuelPriceGallon_{{ form.vars.data.id }} = !toggle_fuelPriceGallon_{{ form.vars.data.id }}">
                                                        {{ form.vars.data.fuelId.fuelPriceGallon }}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="overlay-show input-fuel" ng-show="toggle_fuelPriceLiter_{{ form.vars.data.id }}">
                                                        <span>
                                                            <div class="row">
                                                                {{ form_row(form.fuelId.fuelPriceLiter) }}
                                                            </div>
                                                        </span>
                                                    </div>

                                                    <span class="text-input" ng-click="toggle_fuelPriceLiter_{{ form.vars.data.id }} = !toggle_fuelPriceLiter_{{ form.vars.data.id }}">
                                                        {{ form.vars.data.fuelId.fuelPriceLiter }}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="text-center funkyradio prices">
                                                <div class="funkyradio-success fuel-price">
                                                    {{ form_row(form.isDefault) }}
                                                    <label for="{{ form.vars.id }}_isDefault"></label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>DEF Price</strong>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-xs-3">
                                        </th>
                                        
                                        <th class="col-xs-3">
                                            gallon
                                        </th>
                                        
                                        <th class="col-xs-3">
                                            liter
                                        </th>
                                        
                                        <th class="col-xs-3 text-center">
                                            default
                                        </th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    
                                    {% for form in formPrice.forms %}
                                        
                                    <tr>
                                        <td>
                                            <div class="">
                                                <span>
                                                    <strong>${{ form.vars.data.currency }}</strong>
                                                </span>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="overlay-show input-fuel" ng-show="toggle_defPriceGallon_{{ form.vars.data.id }}">
                                                        <span class="">
                                                            <div class="row">
                                                                {{ form_row(form.fuelId.defPriceGallon) }}
                                                            </div>
                                                        </span>
                                                    </div>

                                                    <span class="text-input" ng-click="toggle_defPriceGallon_{{ form.vars.data.id }} = !toggle_defPriceGallon_{{ form.vars.data.id }}">
                                                        {{ form.vars.data.fuelId.defPriceGallon }}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="overlay-show input-fuel" ng-show="toggle_defPriceLiter_{{ form.vars.data.id }}">
                                                        <span>
                                                            <div class="row">
                                                                {{ form_row(form.fuelId.defPriceLiter) }}
                                                            </div>
                                                        </span>
                                                    </div>

                                                    <span class="text-input" ng-click="toggle_defPriceLiter_{{ form.vars.data.id }} = !toggle_defPriceLiter_{{ form.vars.data.id }}">
                                                        {{ form.vars.data.fuelId.defPriceLiter }}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="text-center funkyradio prices">
                                                <div class="funkyradio-success def-price">
                                                    <input type="radio" id="{{ form.vars.id }}_defPrice" value="1">
                                                    <label for="{{ form.vars.id }}_defPrice"></label>                                                    
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                                    
                            <div class="panel-footer clearfix button-padding">
                                <button type="submit" form="task_price" class="btn btn-success button-full">
                                    Save
                                </button>
                            </div>
                        </div>
                            
                        {{ form_end(formPrice) }}

                    </div>