
                    {# WORKINGCONDITION #}
                    <div class="col-md-4 workingcondition">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Working Conditions</strong>
                            </div>
                            
                            {{ form_start(formWorkingcondition, {'attr': {'id': 'task_workingcondition'}}) }}
                            
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th></th>
                                        
                                        <th class="no-gutter-left">multiplier</th>
                                        
                                        <th class="text-center no-gutter-right">default </th>
                                    </tr>
                                </thead>
                                
                                <tbody class="work-empty">

                                    {% for form in formWorkingcondition.forms %}

                                    <tr>
                                        <td class="col-xs-3">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="row gutter-left-5">
                                                        <div class="overlay-show input-workingcondition" ng-show="toggle_workingcondition_{{ form.vars.data.id }}">
                                                            <span class="only-text col-xs-12">
                                                                {{ form_row(form.workingcondition) }}
                                                            </span>
                                                        </div>

                                                        <span class="col-xs-12 text-input margin-right-5" ng-click="toggle_workingcondition_{{ form.vars.data.id }} = !toggle_workingcondition_{{ form.vars.data.id }}">
                                                            {{ form.vars.data.workingcondition }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="col-xs-3">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="overlay-show input-price" ng-show="toggle_multiplier_{{ form.vars.data.id }}">
                                                        <span class="col-xs-12">
                                                            {{ form_row(form.multiplier) }}
                                                        </span>
                                                    </div>

                                                    <span class="col-xs-12 text-input" ng-click="toggle_multiplier_{{ form.vars.data.id }} = !toggle_multiplier_{{ form.vars.data.id }}">
                                                        {{ form.vars.data.multiplier }}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="text-center col-xs-7">
                                            <div class="row">
                                                <div class="col-xs-12 pull-left data-switch">
                                                    <div class="funkyradio">
                                                        <div class="funkyradio-success">
                                                            {{ form_row(form.isDefault) }}
                                                            <label for="{{ form.vars.id }}_isDefault"></label>
                                                        </div>
                                                    </div>

                                                    <span class="slide-swipe"><i class="fa fa-ellipsis-v"></i></span>

                                                    <div class="onoffswitch">
                                                        {{ form_row(form.isActive, {'attr': { 'class': 'onoffswitch-checkbox' }}) }}

                                                        <label for="{{ form.vars.id }}_isActive" class="onoffswitch-label">
                                                            <span class="onoffswitch-inner"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                    {{ form_end(formWorkingcondition) }}
                                    
                                    <tr>
                                        <td class="col-xs-3 input-add">
                                            <div class="row overlay-position">
                                                <div class="col-xs-12 overlay-show add-input-workingcondition" ng-show="toggle_cond">
                                                    <div class="row" ng-show="toggle_cond">
                                                        <span class="col-xs-12 margin-left-2">
                                                            <input class="form-control" type="text" id="workingcondidtion_add" name="new_workingcondition" maxlength="255">
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12">
                                                    <span class="col-xs-12 only-text">

                                                    </span>
                                                </div>
                                            </div>
                                        </td>


                                        <td class="col-xs-3 input-add">
                                            <div class="row overlay-position">
                                                <div class="col-xs-12 overlay-show add-input-price" ng-show="toggle_cond">
                                                    <div class="row">
                                                        <span class="col-xs-12 ">
                                                            <input class="form-control" type="number" id="multiplier_add" name="new_multiplier" maxlength="255">
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 input-add-correction">
                                                    <span class="col-xs-3 only-text">

                                                    </span>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="text-center col-xs-3 checkbox-add">
                                            <div class="row overlay-position">
                                                <div class="col-xs-12 overlay-show-add pull-left data-switch add-correct" ng-show="toggle_cond">
                                                    <div class="funkyradio funkyradio-correct">
                                                        <div class="funkyradio-success funkyradio-success-correct">
                                                            <input type="radio" id="toggle_cond_isDefault" name="new_isDefault" value="1">
                                                            <label class="add-checkbox-correct" for="toggle_cond_isDefault"></label>
                                                        </div>
                                                    </div>

                                                    <span class="slide-swipe slide-swipe-correct"><i class="fa fa-ellipsis-v"></i></span>

                                                    <div class="onoffswitch onoffswitch-correct">
                                                        <input type="checkbox" id="toggle_cond_isActive" name="new_isActive" class="onoffswitch-checkbox" value="1">
                                                        <label for="toggle_cond_isActive" class="onoffswitch-label">
                                                            <span class="onoffswitch-inner"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 add-correct">
                                                    <div class="text-center button-add pull-right" ng-click="toggle_cond = !toggle_cond">
                                                        <button class="btn btn-success" type="button">
                                                            Add
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <div class="panel-footer clearfix button-padding">
                                <button type="submit" form="task_workingcondition" class="btn btn-success button-full">
                                    Save
                                </button>
                            </div>  
                        </div>
                    </div>