<div class="row" >
    <div class="col-lg-4 col-md-4">
        <div class="col-md-12">{{ form_errors(form) }}</div>
        {{ dump(form) }}
        
        <div class="bg-danger">{{ form_errors(form.currency) }}</div>
        <div class="form-group input-group">
            {{ form_widget(form.region,  {'attr': {'placeholder':'Name', 'title':'Name', 'class':'form-control'}}) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="bg-danger">{{ form_errors(form.isDefault) }}</div>
        <div class="form-group">
            {{ form_widget(form.isDefault,  {'attr': {'title':'Is active', 'class':'form-control'}}) }}
        </div>
    </div>
</div>